# Database Configuration
DB_HOST=localhost
DB_NAME=laughndry_db
DB_USER=root
DB_PASS=

# Midtrans Configuration
MIDTRANS_SERVER_KEY=your_server_key_here
MIDTRANS_CLIENT_KEY=your_client_key_here
MIDTRANS_IS_PRODUCTION=false
